*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;    
}
@media(min-width:1024px){
    .container{
        width: 1170px;
        max-width:100%;
        margin: 0 auto;
        padding: 0px 15px;
    }
}
@media(min-width:1500px){
    .container{
        width: 1476px;
        max-width:100%;
        margin: 0 auto;
    }
}
@media(max-width:768px){
    .container{
        width: 1246px;  
        max-width: 90%;
        margin: 0 auto;
    }
}
.wraper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header{
    background-image:linear-gradient(#9d9999, #f9f8f8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    padding: 10px 0px;
}
.header{
    background-image:linear-gradient(#9d9999, #f9f8f8);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    padding: 10px 0px;
}
nav ul {
    list-style: none;   
}
nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
}
nav ul li{
    padding: 0px 15px;
}
.head_logo{
    max-width: 200px;
}
a.nav-link.btn.btn-danger.text-white {
    padding: 9px 35px;
}
.btn{   
    background-color: red;
    color: white;
    padding: 8px 20px;
    font-weight: 700;
}
a.nav-link.nav-btn-wraper {
    background-color: red;
    padding: 10px 11px;
}
.banner{
    background-image:url('./../images/Banner-img.png');
    position: relative;
    background-size: cover;
    padding: 7% 0;
}
.banner img{
    width: 100%;
}
.light_color{
    color: white;
}
.navbar-dark .navbar-nav .nav-link{
    color: #FFFFFF;
}
.banner_content{
    /* padding-top: 30%; */
    color: white;
}
.banner_content h1{
    font-weight: 900;
    font-size: 54px;
    line-height: 81px;
}
.banner_content p{
font-weight: 600;
font-size: 18px;
line-height: 37px;
padding-bottom: 30px;
}
.left .btn::after,
.banner_content  .btn::after{
    content: url(../images/Arrow\ 41\ \(1\).png);
    padding: 10px;
}       

.left .btn:hover:after,
.banner_content  .btn:hover:after{
    content: url(../images/Arrow\ 42.png);
    padding: 10px;
}  
.left .btn, 
.banner_content .btn {
    position: relative;
    text-decoration: none;
    padding: 10px 15px 10px 20px;
    font-weight: 700;
    font-size: 20px;
    border: none;
}
.card_height{
    min-height: 90px;
}
h4.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 46px;
    text-align: left;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp:1;
-webkit-box-orient: vertical;
}
p.card-text {
    font-size: 17px;
    font-weight: 500;   
    line-height: 24px;
    text-align: left;
    overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
.card_para::after{
    content: url(../images/Arrow\ 42.png);
    padding: 10px;
    color: red;
    position: relative;
}
section#solutions {
    padding: 75px 0px 70px 0px;
}
 .solution-heading{
     text-align: center;
  font-family: 'Poppins', sans-serif;
font-weight: 500;
}  
.line-break{
    display: block;
}
.solution-heading img{
    margin: -3px;
    padding-bottom: 26px;
}
.solution-heading h2{
font-weight: 700;
font-size: 54px;
line-height: 81px;
}
.solution-heading p{
font-weight: 600;
font-size: 28px;
line-height: 18px;
}

.solution-heading h2::before{
    content:"";
    position: absolute;
    margin: auto;
    width: 95px;
    left: 0;
    top: 41px;
    right: 0;
    background: linear-gradient(180deg, #FFE11A 0%, #FE0000 112.5%);
}
.card_arrow::after{
    content: url(../images/Arrow\ 42.png);
    padding: 10px;
    color: red;
    position: relative; 
    left: 80%;
    top: -25px;
}  
.card_arrow{
        font-size: 23px;
} 
.card{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cards{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
.card-content{
    background-color:#FCFCFC;
    margin:20px 10px;
    width: 33.33%;
    border: 1px solid #CECECE;
    border-radius: 2px;
}
.card-content figure img{
    width: 100%;
}
.card-content h3{
    margin: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;  
}
 .card-content p{
    margin: 15px;
    font-size: 18px;
    line-height: 33px;
} 

button.btn.btn-light {  
    color: red;
    border: none;
    margin: 0px 0px 0px -257px;
    background-color: transparent;
    padding: 10px;    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 31px;
}
button.btn.btn-light::after{
    content: url(../images/Arrow\ 42.png);
    padding: 10px;
    color: red;
}
.owl-carousel .owl-item img {
     display:inline;
    width: 236px;
}
.companies_logo .owl-carousel .owl-stage{
display: flex;
align-items: center;
}

.companies{
    padding: 40px 0px;
    border: 1px solid #CECECE;
}
.companies-heading{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 30px;
   font-family: 'Poppins', sans-serif;
   color: #3D3D3D;
   font-size: 20px;
   text-align: center;
}
.companies-heading h2{
    font-weight: 800;
    font-size: 54px;
    line-height: 81px;
}
.companies-heading h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 43px;
    padding-top: 8px;
    padding-bottom: 80px;
}
.companies_logo{
    align-items: center;
    max-width: 100%;
    filter: grayscale(100%);
}
.row.companies_logo .col {
    text-align: center;
    padding: 0;
    margin: 0;
}   
.logos{
    display: flex;
    margin-top: 83px;
    align-items: center;
}
.logos figure{
    width: 20%;
    margin-left: 54px;   
}
#talk{
    background-color: black;
    color: white;
    padding: 114px 0px;
    margin: 50px 0 85px;
}
.right h3{
    font-weight: 500;
    font-size: 54px;
    line-height: 81px; 
    padding: 10px 0px;
}
.right p{
    font-size: 41px;
    line-height: 62px;
    padding-bottom: 30px;
}
.drop_btn{
    width: 100%;
    background-color:transparent;
    border: none;
    border-bottom: 2px solid red;
    font-weight: 700;
    font-size:1.7rem;
    text-align: left;
}
.left p{
    font-size: 25px;
    line-height: 187.95%;
}
.left input{
    background: #F7F7F7;
    border: 1.28924px solid #AFAFAF;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin: 20px 0px;
    font-size: 18px;
    
}
.dropdown-toggle::after {
    margin-left: 17em;
    position: absolute;
    right: 6px;
    top: 30px;
}

.card-text:last-child {
    margin-bottom: -26px;
}

.insights_heading{
    text-align: center;
    padding: 0px 0px 0 0px;
}
.insights_heading h2{
    font-weight: 700;
font-size: 44px;
line-height: 31px;
}   
.insights_heading p{
    font-weight: 600;
font-size: 25px;  
line-height: 43px;
color: #3D3D3D;
}
.insight_card{
    background-color:#FCFCFC ;
    width: 30%;
    box-shadow: 0px 5px 30.9418px rgba(0, 0, 0, 0.02);
    border: 1px solid #CECECE;
}
.insight_card img{
    width: 100%;
}
.insight_card p{
    font-weight: 500;
font-size: 22px;
line-height: 39px;
padding: 10px 0px 19px 15px;
}
.wrap{
    display: flex;
    justify-content: space-around;
}
.footer{
    margin-top: 85px;
    background-color: black;
    width: 100%;
}
.footer_top{
    color: whitesmoke;
    /* display: flex; */
    width: 100%;
    /* justify-content: space-between; */
    padding: 70px 0px;
    width: 100%;
}

.footer_top li{
    list-style: none;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
}

.footer_top_content li{
    font-weight: 500;
    font-size: 20px;    
    line-height: 31px;
}
.footer_top_content h4{
    color: red;
}

.vector{
    height: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    padding: 10px;
}
.footer_mid_content h4{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}
.footer_mid{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
    
input[type="email"] {
    margin-bottom: 0;
    padding:8px 15px;
    font-size: 18px;
}
.footer_mid_content li a{
    text-decoration: none;
    font-size: 16px;
}
.footer_mid li{
    list-style: none;
    font-size: 16px;
    line-height: 24px;
    padding: 5px 0;
}
.footer_bottom{
    background-color:black;
    color: whitesmoke;
    display: flex;
    padding: 30px 0px;
    justify-content: space-between;
}
.footer_bottom p{
    font-size: 20px;
    line-height: 202%;
}
.footer_bottom a{
    padding: 10px;

}
.footer_icons{
    margin:15px 5px;
}
.footer_icons i{
    border: 1px solid white;
    padding: 12px;
    border-radius: 50%;
     color: white;
     height: 40px;
     margin: 5px 0px;
     width: 40px;

}
.stories{
    padding: 150px 0px;
}
.stories h3{
    font-weight: 700;
font-size: 40px;
line-height: 81px;
padding: 9px 0px;
}
.item{
    /* align-items: center; */
    text-align: center;
}
.stories_left{
    padding:50px 50px;
}
.stories_left h4{
    font-weight: 700;
font-size: 37px;
line-height: 62px;
}
.stories_left p{
    font-size: 23px;
}
.stories_content{
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.02);
border-radius: 2px;
background-color: #FCFCFC;
border: 1px solid #CECECE;
border-radius: 2px;
}
@media only screen and (max-width:1024px){
    button.btn.btn-light{
        margin-left: -106px;
    }
    input[type="email"]{
        padding: 8px 0px;
    }
    .footer_log{
        max-width: 200px;
    }
}
@media only screen and (max-width:768px){
    .wraper h3{
        font-size: 30px;
        line-height:40px;
    }
    .banner_content h1{
        font-size:47px;
        line-height: 60px;
    }
    .right p, .left p{
        font-size: 18px;
        line-height:24px;
    }
    .dropdown{
        height: 100px;
        width: 252px;
    }
    button#dropdownMenuButton {
        height: 52px;
        width: 100%;
        text-align: left;
        padding: 0;
    }
    .companies_logo .owl-stage{
        display: flex;
        align-items: center;
    }
    .owl-stage{
        display: flex;
        align-items: center;
    }
    .owl-carousel .owl-stage{
        display: flex;
        align-items: center;
    }
    .companies_logo .owl-stage{
        display: flex;
        align-items: center;
    }
    
    .companies-heading h2{
        font-size: 36px;
    }

    .dropdown-toggle::after {
        margin-left: 13%;
    }
    a.nav-link.nav-btn-wraper {
        background-color: red;
        padding: 10px 11px;
        width: 133px;
    }
    .card_arrow::after {
        content: url(../images/Arrow\ 42.png);
        padding: 10px;
        color: red;
        position: relative;
        left: 84%;
        top: -29px;
    }
    .right p{
        padding-bottom: 0px;
    }
    h4.card-title{
        font-size: 18px;
    }
    #solutions{
        padding: 50px 0px 50px 0px;
    }
    #talk{
        padding: 10px;
        margin: 90px 0px 70px 0px;
    }
    #solutions .col-lg-4{
        /* padding:0px; */
    }
    .left .btn{
        font-size: 16px;
        padding: 6px 8px 6px 10px;
    }
    .footer_mid_content li a {
        text-decoration: none;
        font-size: 13px;
    }
    .footer{
        margin-top: 70px;
    }
    .footer .owl-carousel{
        margin: 0;
    }
    .footer .container {
       
        max-width: 100%;
      
    }
} 

@media only screen and (max-width:576px){
    .banner_content h1 {
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
    }
    .companies-heading h2{
        font-size: 28px;
    }
    .companies-heading h3{
        font-size: 20px;
    }   
}
@media only screen and (max-width:480px){
    .banner_content h1 {
        font-weight: 900;
        font-size: 39px;
        line-height: 60px;
    }
    .companies-heading h2{
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 1px;
    }
    .companies-heading h3{
        font-size: 16px;
        padding-bottom: 0px;
    }
    section#solutions{
        padding: 45px 0px 55px 0px;
    }
    .solution-heading h2{
        font-size:34px;
        line-height: 47px;
    }
    .solution-heading p{
        font-size: 23px;
    }
    .right h3{
        font-size: 30px;
    }
    .right p{
        font-size: 20px;
        line-height:30px;
        padding-top: 10px;
    }
    .right h3{
        padding-top: 30px;
        line-height: 2px;
    }
    .insights_heading h2{
        font-size: 33px;
        line-height: 21px;
    }
    button.btn.btn-light{
        margin: -12px 0px 0px -103px;
    }
    .dropdown{
        width: 100%;
    }
    #talk{
        margin:80px 0px 80px 0px;
        padding: 16px 0px 25px;
    }
    .dropdown-toggle::after {
     margin-left: 2em;
    }
    .drop_btn{
        max-width: 100%;
    }
    .left input{
        padding: 6px 0px 6px 8px;
        
    }
    .left p{
        /* padding-top: 48px; */
        font-size: 20px;    
        line-height: 31px;
    }
    .insights_heading h2{
        font-size:35px;
    }
    .insights_heading p{
        font-size:20px;
    }
    .banner_content .btn{
        padding: 7px 7px 7px 10px;
    }
    .card_arrow::after {
        position: relative;
        left: 74%;
        top:-22px;
    }
    .footer_top{
        padding: 30px 0px;
        margin: 0;
    }
    .footer_top_content_main{
        padding: 20px 0 5px;
    }
    .navbar-brand img{
        max-width: 150px;
    }
}

@media only screen and (max-width:280px){
    .companies-heading h2{
        font-size: 30px;
    }
    .companies-heading h3{
        font-size: 20px;
    }
    #solutions{
        padding: 50px 0px 50px 0px;
    }
}


  




.slick-initialized .slick-slide {
    /* display: block; */
    display: flex;
  }